<form id="ai-gen-form">
    <div id="ai-gen-window">
        <div id="ai-response">
            <div id="ai-img" style="display: none">
                <img id="ai-img-gen" src="icons/svg/mystery-man.svg">
                <div id="ai-img-loading"></div>
                <div class="flex">
                    <button type="button" id="editDescription" data-action="edit_description">{{localize "AI-ACTOR.edit_description"}}</button>
                    <button type="button" id="regenerate_img" data-action="regenerate_img">{{localize "AI-ACTOR.regenerate_image"}}</button>
                </div>
                <textarea id="ai-textarea" class="textarea" style="display: none"></textarea>
            </div>
            <div id="ai-inner-response"></div>
            <div id="ai-loading"></div>
        </div>
        
        <div id="user-inputs">
            <input type="text" id="user-input" class="ai-actors" name="user-input" placeholder="{{localize "AI-ACTOR.type_a_description" }}">

            <button type="button" class="ai-actors" id="send_message_btn" title="{{localize "AI-ACTOR.generate_actor"}}" data-action="send_message"><i class="fa-solid fa-up-long"></i>{{localize "AI-ACTOR.generate"}}</button>
            <select name="folders" id="folders" class="selector"></select>
            <button type="button" id="make_ai_actor_btn" data-action="make_ai_actor">{{localize "AI-ACTOR.make_actor"}}</button>
        </div>
    </div>
</form>