<form id="ai-hist-form">
    <div id="view-msg-hist">
        {{#each messages}}
        <button type="button" class="collapsible" data-action="unroll">{{[0].name}}</button>
        <div class="content" style="display:none;">
            {{printImg this}}
            {{printLoader this}}
            <div class="flex">
                <button type="button" id="editDescription" data-action="edit_description" data-character-id="{{[0].name}}">{{localize "AI-ACTOR.edit_description"}}</button>
                <button type="button" id="regenerate_img" data-action="regenerate_img" data-character-id="{{[0].name}}">{{localize "AI-ACTOR.regenerate_image"}}</button>
            </div>
            {{printTextarea this}}
            {{printObject this}}
            <div id="user-inputs">
                <button type="button" id="make_ai_actor_btn" data-action="make_ai_actor" data-character-id="{{[0].name}}">{{localize "AI-ACTOR.make_actor"}}</button>
            </div>
        </div>
        {{/each}}
    </div>
</form>